@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", system-ui, sans-serif;
  
  --spacing-margin-desktop: 32px;
  --spacing-margin-mobile: 16px;
}

/* Custom styling defaults for smooth transitions */
body {
  font-family: var(--font-sans);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
